{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{% parent %}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/system.js"></script>
   
    <script src="http://cdn.bootcss.com/axios/0.15.3/axios.js"></script>
    <!-- <script type="text/javascript" src="/script/index.js"></script> -->
    <script src="/scripts/tag.es6"></script>
    <script type="text/javascript" src="/scripts/indexadd.js"></script>
{% endblock %}
{% block content %}
 <!--  <div class="hand" id="thumb">
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger"></div>
        <div class="finger thumb"></div>
        <div class="arm"></div>
    </div>
    <span class="hide" id="animation">+1</span> -->
    <x-praise></x-praise>
    <script type="text/javascript">
    SystemJS.config({
        baseURL: '/scripts'
    });
    SystemJS.import('index.js').then(function(m) {
        $.extend({
            thumb: m.default
        });
        callBack();
        
    });
    function callBack(){
         var f = new $.thumb(0, $('#thumb'));
        f.clickAction();
    }
    </script>
{% endblock %}